extends layout

block content
    section.cell
        span(id="targ")
    section.cell
        p 
            This is an online Tabletop assistant Where you can 
            Roll dice and create and view character sheets
            
           



    script(src='/javascripts/index.js')
    link(rel='stylesheet', href='/stylesheets/index.css')
