extends layout

block content
    h1 Welcome to a customisable gurps Character sheet
    section(id="meta-stats")
        label Point Total
        input(type="number")
        label Disadvantage Buy Back(as a %)
        input(type="number" min="0" max="100")
        label Character Name
        input(type="text")
        button(id="save") Save
    h1 Stats
    section(id="stats")
        label ST
        input(type="number" value="10")
        label DX
        input(type="number" value="10")
        label IQ
        input(type="number" value="10")
        label HT
        input(type="number" value="10")
        label Height  
        select(name="height" )  
            option very short
            option short
            option(selected) normal
            option tall
            option very tall
        label Weight
        select(name="height")  
            option very thin
            option thin
            option(selected) normal
            option obese
            option Morbidly obese
        label Age
        input(type="number" value="24")
        label Size Mod
        input(type="number" value="0")
        
    h1 Advantages
    button(id="new_adv") Add Another Advantage
    section(id="advantages")
        div(class="adv")
            label Advantage Name
            input(type="text" class="adv_name")
            label  Advantage points (Per Level)
            input(type="number" class="adv_points")
            label  Advantage level
            input(type="number" class="adv_level")
            label Advantage description
            textarea(rows="4" cols="35")
        button.delete_button Delete
    h1 Disadvantages
    button(id="new_dis_adv") Add Another Disadvantage
    section(id="disadvantages")
        div(class="dis_adv")
            label Disadvantage Name
            input(type="text" class="d_adv_name")
            label Disadvantage points 
            input(type="number" class="d_adv_points")
            label  Disadvantage level
            input(type="number" class="d_adv_level")
            label Disadvantage description
            textarea(rows="4" cols="35")
    h1 Skills
    button(id="new_skl") Add Another Skill
    section(id="skills")
        div(class="skill")
            label Skill Name
            input(type="text" class="skl_name")
            label Skill Level 
            input(type="number" class="skl_lvl")
            label Skill Difficulty 
            input(type="text" class="skl_dif")
    script(src="/javascripts/sheet.js")
    link(rel='stylesheet', href='/stylesheets/sheets.css')
        
        
