doctype html
html
    head

    body
        title= title
        canvas#canvas
        span(style='position: fixed; top:0px; left: 0px')#info
        script(src='/javascripts/shoal/jquery.js')
        script(src='/javascripts/shoal/fish.js')
        script(src='/javascripts/shoal/food.js')
        script(src='/javascripts/shoal/sea.js')
        script(src='/javascripts/shoal/vector.js')

    
