extends layout

block content
    h1 Gurps Sheet
    br
    button(id="first") << First
    button(id="prev") < Previous
    button(id="share") Share
    button(id="next") Next >
    button(id="last") Last >>
    
    
   
    
    
    section(id="dump") 
    

    script(src="/javascripts/show.js")
    link(rel='stylesheet', href='/stylesheets/show.css')
    
