#clear {
  margin-left: 15px;
}
#results {
  height: 200px;
  overflow: auto;
}
#results>article>span {
  display: block;
}
#results>article {
  margin-bottom: 20px;
}
#buttons>span {
  display: block;
}
#perDi {
  margin-bottom: 10px;
}
#numD6 {
  width: 60px;
  font-size: 24pt;
  margin: 5px 10px 5px;
}
#clear {
  margin-right: 10px;
}
.main {
  width: 300px;
}
#buttons {
  width: 500px;
}
#buttons>button {
  background-color: #d68f4f;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}
