extends layout

block content
  h1= title
  p Welcome to The #{title}
  section.main
    section#results
    section#buttons
        
      
        
    script(src='/javascripts/roller.js') 
    link(rel='stylesheet', href='/stylesheets/roller.css')       
