doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/christmas/main.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Mountains+of+Christmas:700')           
    script(src='/javascripts/lib.js')
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
    script(src='/javascripts/workers/ajax_worker.js')
    script(src='/javascripts/christmas/main.js')
  body
    header
        nav(id="navigation")         
            h2 Merry Christmas
    section#wrapper
        block content
                
                script(src='/javascripts/login.js')

